* {
    margin: 0;
    padding: 0;
}

.total-poster {
    position: relative;
    margin: 0 auto;
    width: 1000px;
    height: 1200px;
    background: -webkit-linear-gradient(top left, #ee7752, #e73c7e, #23abd5, #23d5ab);
    background: -moz-linear-gradient(top left, #ee7752, #e73c7e, #23abd5, #23d5ab);
    background: linear-gradient(top left, #ee7752, #e73c7e, #23abd5, #23d5ab);
}

.title {
    padding-top: 50px;
    width: 700px;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 92px;
    letter-spacing: 3px;
    color: white;
    text-shadow: 0px 10px 4px #000000, 0px 12px 4px #000000, 0px 4px 4px #000000, 0px 8px 4px #000000, 0px 6px 4px #000000;
}

.text-area {
    height: 350px;
    width: 550px;
    margin: 0 auto;
    margin-top: 40px;
    padding-top: 10px 10px 0 10px;
    border-radius: 5px;
    background-color: white;
    font-size: 22px;
    font-weight: 600;
    line-height: 150%;
    color: red;
}

.text-content {
    height: 300px;
    width: 500px;
    margin: 0 auto;
    padding-top: 20px;
}

.text-content::before {
    content: "“";
    font-size: 50px;
    padding: 10px 0 0 5px;
}

.text-content::after {
    content: "”";
    font-size: 50px;
    padding: 10px 0 0 5px;
}

.img-area {
    display: flex;
    justify-content: space-between;
    margin: 85px 100px 0 100px;
}

.showcase {
    width: 214px;
    height: 142px;
    border: 8px solid #fff;
    background-size: contain;
    overflow: hidden;
}

.img-left {
    background-image: url(../img/img-left.png);
}

.img-mid {
    background-image: url(../img/img-mid.png);
}

.img-right {
    background-image: url(../img/img-right.png);
}

.showcase:hover .hidden {
    display: block;
    cursor: pointer;
}

.hidden {
    position: relative;
    display: none;
    width: 184px;
    height: 112px;
    padding: 15px;
    color: #fff;
    text-align: center;
    font-size: 12px;
    font-family: serif;
}

.hidden-bkg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: -65px;
    left: -55px;
    transform: rotate(41deg);
    background-color: rgba(0, 0, 0, .4);
    z-index: -1;
}

.hidden-title {
    padding: 6px;
}

.hidden-line {
    width: 150px;
    margin: 0 auto;
    font-weight: lighter;
    border-bottom: 1px solid rgba(0, 0, 0, .3);
}

.hidden>a {
    display: inline-block;
    margin: 7px auto;
    width: 80px;
    height: 25px;
    line-height: 25px;
    text-decoration: none;
    color: #fff;
    background-color: #000;
}

.img-right-hidden>p,
.img-right-hidden>h6 {
    color: #000;
}

.img-left-hidden {
    background-color: rgba(58, 1, 132, 0.44);
}

.img-mid-hidden {
    z-index: 99;
}

.img-right-hidden {
    background-color: #FFF8E8;
}

.detail-text {
    height: 120px;
    width: 600px;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 5px;
    padding: 20px 10px 0 10px;
    background-color: white;
    column-count: 3;
    column-gap: 2em;
    font-family: serif;
    font-size: 16px;
    word-break: break-all;
}

.detail-text::before {
    content: " ";
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid white;
    position: relative;
    left: 166px;
    top: -53px;
    margin-top: -20px;
}